- name: Render cloud-init user-data
  ansible.builtin.template:
    src: user-data.j2
    dest: /tmp/{{ vm_name }}-user-data

- name: Render cloud-init meta-data
  ansible.builtin.template:
    src: meta-data.j2
    dest: /tmp/{{ vm_name }}-meta-data

- name: Create cloud-init seed ISO
  ansible.builtin.command: >
    cloud-localds {{ seed_iso }}
    /tmp/{{ vm_name }}-user-data
    /tmp/{{ vm_name }}-meta-data
  args:
    creates: "{{ seed_iso }}"