- name: Create and start VM via virt-install
  ansible.builtin.command: >
    virt-install
      --name {{ vm_name }}
      --memory {{ vm_memory }}
      --vcpus {{ vm_vcpus }}
      --disk path={{ vm_image }},format=qcow2,bus=virtio
      --disk path={{ seed_iso }},device=cdrom
      --os-variant {{ vm_os_variant }}
      --network network={{ libvirt_network }},model=virtio
      --graphics none
      --console pty,target_type=serial
      --import
      --noautoconsole
  args:
    creates: "{{ vm_image }}"