- name: Define VM using virsh
  ansible.builtin.command: >
    virsh define {{ lookup('template', 'vm-template.xml.j2') }}
  args:
    creates: "/etc/libvirt/qemu/{{ vm_name }}.xml"

- name: Start the VM
  community.libvirt.virt:
    name: "{{ vm_name }}"
    state: running
