- name: Render VM XML template to file
  ansible.builtin.template:
    src: vm-template.xml.j2
    dest: "{{ libvirt_pool_dir }}/{{ vm_name }}.xml"

- name: Define VM using virsh
  ansible.builtin.command: >
    virsh define {{ libvirt_pool_dir }}/{{ vm_name }}.xml
  args:
    creates: "{{ libvirt_pool_dir }}/{{ vm_name }}.xml"

- name: Start the VM
  community.libvirt.virt:
    name: "{{ vm_name }}"
    state: running
