- name: Define the VM using XML
  community.libvirt.virt:
    name: "{{ vm_name }}"
    state: defined
    xml: "{{ lookup('template', 'vm-template.xml.j2') }}"

- name: Start the VM
  community.libvirt.virt:
    name: "{{ vm_name }}"
    state: running