- name: Define and start VM using XML
  community.libvirt.virt:
    name: "{{ vm_name }}"
    state: running
    xml: "{{ lookup('template', 'vm-template.xml.j2') }}"
  register: vm_defined
  changed_when: vm_defined.changed
