- name: Render VM XML template to file
  ansible.builtin.template:
    src: ../templates/vm-template.xml.j2
    dest: "{{ libvirt_pool_dir }}/{{ vm_name }}.xml"

- name: Define and start VM via libvirt (no virsh)
  community.libvirt.virt:
    name: "{{ vm_name }}"
    state: running
    xml: "{{ lookup('template', libvirt_pool_dir + '/' + vm_name + '.xml') }}"