<domain type='kvm'>
  <name>{{ vm_name }}</name>
  <memory unit='MiB'>{{ vm_memory }}</memory>
  <currentMemory unit='MiB'>{{ vm_memory }}</currentMemory>
  <vcpu placement='static'>{{ vm_vcpus }}</vcpu>

  <os>
    <type arch='x86_64' machine='pc-q35-6.2'>hvm</type>
    <boot dev='hd'/>
    <boot dev='cdrom'/>
  </os>

  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>

  <cpu mode='host-model'/>
  
  <clock offset='utc'/>
  
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>

  <devices>
    <!-- Primary Disk -->
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ libvirt_pool_dir }}/{{ vm_name }}.qcow2'/>
      <target dev='vda' bus='virtio'/>
    </disk>

    <!-- Cloud-init ISO -->
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ libvirt_pool_dir }}/{{ vm_name }}-seed.iso'/>
      <target dev='hdb' bus='ide'/>
      <readonly/>
    </disk>

    <!-- Network -->
    <interface type='network'>
      <source network='{{ libvirt_network }}'/>
      <model type='virtio'/>
    </interface>

    <!-- Console -->
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>

    <!-- Disable graphics for headless VM -->
    <graphics type='none'/>
  </devices>
</domain>
